.fixed {
    position: sticky;
    /* top: 0; */
    z-index: 2;
    color: #ffffff;
    /* height: 55px; */
    line-height: 1.5;
    background-color: #24292f;
    padding: 10px 10px;
}

.navbar-brand {
    padding: 4px 14px;
}

.navbar-brand:hover {
    background-color: rgb(255 255 255 / 10%);
    border-radius: 6px;
}

.navigation-link-header {
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
    margin-right: 1.5rem;
    font-size: 14px;
    text-decoration: none !important;
}

.navigation-link-header:hover {
    color: #ffffffb3 !important;
}

.icon-Header {
    float: right;
    text-align: right;
}

.ant-input-search .ant-input-lg {
    background: none;
    color: #ffffff;
    font-size: 13px;
    border: 1px #bcbdbe solid;
}
.ant-input-search .ant-input:hover, .ant-input-search .ant-input:focus {
    border: 1px #bcbdbe solid;
}

.ant-select.ant-select-auto-complete.ant-select-single.ant-select-customize-input.ant-select-show-search {
    min-width: 70%;
}

.ant-col.searchTop {
    line-height: 44px;
    height: 55px;
    padding: 0;
    margin: 0;
}